@model SGC.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ParentController = "Account";
    ViewBag.ParentAction = "Login";
    ViewBag.ParentTitle = "Inicio";
}


<div class="main">
    <div class="container">

        <div class="row margin-bottom-40">
            <div class="col-md-9 col-sm-9">
                <h2>Olvido su contraseña?</h2>
                <div class="content-form-page">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-without-legend", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Ingrese su email.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-lg-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-5">
                                        <input type="submit" class="btn btn-primary" value="Aceptar" />
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-4 col-sm-4 pull-right">
                            <div class="form-info">
                                <h2><em>Información</em> Importante</h2>
                                <p>Ingrese la direccion de Correo asociada a su cuenta. Su Contraseña será enviada a su correo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
