@model SGC.Models.CategoriaR11

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoriaR11</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vigencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCategoria }) |
     @Html.ActionLink("Volver", "Index",new { },new {@class= "btn btn-default" })
</p>
