@model SGC.Models.ViewModelPanelGerencia
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs pull-right">
            <li class="active">
                <a href="#tab_clientes_nuevos_mes_icono" data-toggle="tab"> Mes </a>
            </li>
            <li>
                <a href="#tab_clientes_nuevos_anio_icono" data-toggle="tab"> Año </a>
            </li>
        </ul>
        <div class="dashboard-stat2 ">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_clientes_nuevos_mes_icono">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup" data-value="@String.Format("{0:N0}", Model.clientesNuevosMes)">@String.Format("{0:N0}", Model.clientesNuevosMes)</span>
                            </h3>
                            <small>Nuevos Clientes</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
                                <span class="sr-only"></span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title">  </div>
                            <div class="status-number">  </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_clientes_nuevos_anio_icono">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup" data-value="@String.Format("{0:N0}", Model.clientesNuevosAnio)">@String.Format("{0:N0}", Model.clientesNuevosAnio)</span>
                            </h3>
                            <small>Nuevos Clientes</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp">
                                <span class="sr-only"></span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title">  </div>
                            <div class="status-number">  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



















    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
        <div class="dashboard-stat2 ">
            <div class="tab-content">
              @{ 
                  double clientePorcentage = 0;
                  double contactoPorcentage = 0;
                  clientePorcentage = 1;
                  contactoPorcentage = 1;

                  }
                <div class="tab-pane active" id="tab_clientes_nuevos_anio_icono">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup" data-value="@String.Format("{0:N0}", Model.clientesCount)">@String.Format("{0:N0}", Model.clientesCountConCompra) / @String.Format("{0:N0}", Model.clientesCount)</span>
                            </h3>
                            <small>Clientes Activos</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style=" width: @clientePorcentage%;" class="progress-bar progress-bar-success green-sharp">
                                <span class="sr-only"></span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title"> Porcentaje </div>
                            <div class="status-number"> @clientePorcentage%</div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup" data-value="@String.Format("{0:N0}", Model.clientesRepresentante)">@String.Format("{0:N0}", Model.clientesRepresentante) / @String.Format("{0:N0}", Model.clientesCountContactos)</span>
                            </h3>
                            <small>Usuarios Acceso tms</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                            <span style="width: @contactoPorcentage%;" class="progress-bar progress-bar-success green-sharp">
                                <span class="sr-only"></span>
                            </span>
                        </div>
                        <div class="status">
                            <div class="status-title"> Porcentaje </div>
                            <div class="status-number"> @contactoPorcentage %</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
