@model SGC.Models.Comercializacion

@{
    string value = "";
    int i = 0;
}


            <table class="table table-striped table-bordered table-hover dt-responsive " cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Participante")
                        </th>
                        <th>
                            @Html.DisplayName("RUN")
                        </th>
                        <th>
                            @Html.DisplayName("Teléfono")
                        </th>
                        <th>
                            @Html.DisplayName("Inicio Matricula")
                        </th>
                        <th>
                            @Html.DisplayName("Fin Matricula")
                        </th>
                        @foreach (var item in Model.evaluaciones)
                        {

                            <th title="@Html.DisplayFor(modelItem => item.nombre)">
                                @Html.DisplayFor(modelItem => item.nombre)
                            </th>
                            if (item.nombre.ToLower().Contains("final"))
                            {
                                <th>
                                    @Html.DisplayName("Fecha de Realización".ToUpper())
                                </th>
                              
                                <th>
                                    @Html.DisplayName("Intentos")
                                </th>
                            }
                        }



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.participantes.OrderBy(x => x.contacto.nombreCompleto))
                    {
                        int totalAttempt = item.attempts.Count();
                        int attempt = item.attemptsQuizUsers.Count() == 0 ? 1 : item.attemptsQuizUsers.FirstOrDefault().attempt;

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.contacto.nombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.contacto.run)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.contacto.telefono)
                        </td>
                        <td data-cell-type="date">
                            @item.timestart.ToString("MM-dd-yy")
                        </td>
                        <td data-cell-type="date">
                            @item.timeend.ToString("MM-dd-yy")
                        </td>
                        @{i = 0; }
                        @foreach (var nota in Model.evaluaciones)
                        {


                            <td class="text-center">
                                @if (item.notas.Where(p => p.evaluacion.idEvaluacion == nota.idEvaluacion).FirstOrDefault() != null)
                                {
                                    @item.notas.Where(p => p.evaluacion.idEvaluacion == nota.idEvaluacion).FirstOrDefault().nota


                                }
                                else
                                {
                                    <label>-</label>
                                    if (nota.nombre.ToLower().Contains("final"))
                                    {
                                    <td>
                                        <label> Sin fecha de realización </label>


                                    </td>
                                    <td>
                                        <label> - </label>


                                    </td>
                                    <td>
                                        <label> - </label>


                                    </td>
                                }
                            }


                                </td>
                                if (item.notas.Where(p => p.evaluacion.idEvaluacion == nota.idEvaluacion).FirstOrDefault() != null && nota.nombre.ToLower().Contains("final"))
                                {

                                    var notaFinal = item.notas.Where(p => p.evaluacion.idEvaluacion == nota.idEvaluacion).FirstOrDefault();
                                    if (@item.notas.Count() > 0)
                                    {

                                        if (DateTime.Compare(@item.notas.Where(p => p.evaluacion.idEvaluacion == nota.idEvaluacion).FirstOrDefault().fechaRealizacion, new DateTime(1990, 1, 1)) <= 0)
                                        {
                                            <td>
                                                <label>Sin fecha de realización</label>
                                            </td>
                                        }
                                        else if ((DateTime.Compare(notaFinal.fechaRealizacion.Date, Model.fechaInicio.Date) < 0 || DateTime.Compare(notaFinal.fechaRealizacion.Date, Model.fechaTermino.AddDays(1).Date) >= 0))
                                        {

                                            <td>
                                                <label style="color:red;"> Realizada el  </label>
                                                <label style="color:red;">  @item.notas.Where(p => p.evaluacion.idEvaluacion == nota.idEvaluacion).FirstOrDefault().fechaRealizacion </label>

                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @item.notas.Where(p => p.evaluacion.idEvaluacion == nota.idEvaluacion).FirstOrDefault().fechaRealizacion
                                            </td>

                                        }

                                        <td>


                                            @totalAttempt / @attempt


                                        </td>

                                    }
                                    else
                                    {
                                        <td>
                                            <label>Sin fecha de realización</label>
                                        </td>

                                    }


                                }




                            }


                    </tr>
                    }
            
                </tbody>
            </table>



@section Scripts{
    <script>
        
        function cont() {
            $(".cont").each(function () {
                var cont = $("#" + this.id);
                var total = parseInt(cont.html().split("/")[1]);
                    cont.html( "0/" + total);
            });

            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    var id = this.id.split("-")[1];
                    var cont = $("#" + id);
                    var cant = parseInt(cont.html().split("/")[0]);
                    var total = parseInt(cont.html().split("/")[1]);
                    cont.html((cant + 1) + "/" + total);

                }

            });

        }
        $(document).ready(function () {
            cont();

        });

    </script>
}
