@model IEnumerable<SGC.Models.Otic>

@{
    ViewBag.Title = "Listado Otic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado Otic @Html.ActionLink(" ", "Create","/Create",htmlAttributes: new { @class = "btn btn-primary btn-large glyphicon glyphicon-plus" , @datatoggle = "tooltip", @title = "Nuevo"})
</h2>
<p>
   
</p>
<table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>
</thead>
	<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.idOtic }, htmlAttributes: new { @class = "btn btn-warning  glyphicon glyphicon-edit", @datatoggle = "tooltip", @title = "Editar" }) 
            @Html.ActionLink(" ", "Details", new { id=item.idOtic }, htmlAttributes: new { @class = "btn btn-info glyphicon glyphicon-list", @datatoggle = "tooltip", @title = "Ver" }) 
            @Html.ActionLink(" ", "Delete", new { id=item.idOtic }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash", @datatoggle = "tooltip", @title = "Borrar" })
        </td>
    </tr>
}
</tbody>
</table>
