@model SGC.Models.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoCorporativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoCorporativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.portalNotasExterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.portalNotasExterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombrePortal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePortal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descEspecial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descEspecial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaDescEspecial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaDescEspecial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creadorDescEspecial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creadorDescEspecial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.situacionComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situacionComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCliente }) |
     @Html.ActionLink("Volver", "Index",new { },new {@class= "btn btn-default" })
</p>
