@model IEnumerable<SGC.Models.ViewModelCursoR11>

<style>
    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

    #table-wrapper td {
        white-space: nowrap;
    }

    #table-wrapper th {
        white-space: nowrap;
    }

    th {
        background-color: yellow;
    }
</style>

<div id="table-wrapper">
    <div id="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Curso")
                    </th>
                    <th>
                        @Html.DisplayName("Tipo de Ejecución")
                    </th>
                    <th>
                        @Html.DisplayName("Código SENCE")
                    </th>
                    <th>
                        @Html.DisplayName("Fecha")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.curso.nombreCurso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.curso.tipoEjecucion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.r11.codigoSence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.r11.fechaCreacion)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

