
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">Reportes</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-dark">
            <div class="portlet-title">
                <div class="caption">
                    Diseño y Desarrollo
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("ReporteList", "Reportes")">
                            Listado de Cursos
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="@Url.Action("ReporteRelatoresCurso", "Reportes")">
                            Registro de Instructores
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="@Url.Action("CursosSenceMes", "Reportes")">
                            Cursos con SENCE inscritos en el mes
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="@Url.Action("RelatoresSenceMes", "Reportes")">
                            Relatores inscritos a Curso con SENCE en el mes
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="@Url.Action("MonitoreoCursos", "Reportes")">
                            Monitoreo de cursos
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="" onclick="seleccionarFechas('/PanelGerencia/NuevosCursosCompletos');return false">Nuevos Cursos Completos (Descargar)</a>
                    </div>
                    <div class="col-md-12">
                        <a href="" onclick="seleccionarFechas('/PanelGerencia/NuevosR11');return false">Nuevos R11 (Descargar)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade draggable-modal modalx"
     id="modalSeleccionarFechas"
     tabindex="false"
     data-backdrop="static"
     data-keyboard="false"
     role="dialog"
     aria-labelledby="deleteLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="modal-title">Seleccionar rango de fechas del reporte <span id="reporte"></span></h4>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formSeleccionarFechas" }))
                        {
                            @Html.AntiForgeryToken()

                            <input type="hidden" id="action" value="" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha Inicio</label>
                                        <input type="text" id="fechaInicio" name="fechaInicio" class="form-control datepicker" placeholder="00/00/0000" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Fecha Término</label>
                                        <input type="text" id="fechaTermino" name="fechaTermino" class="form-control datepicker" placeholder="00/00/0000" />
                                    </div>
                                </div>
                            </div>
                            <div id="divFechaInvalida" hidden class="validation-summary-errors text-danger"> La fecha ingresada es invalida.</div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <button type="button" id="btnCancelarSeleccionarFechas" class="btn btn-default" data-dissmiss="modal">Cancelar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" id="btnEnviarSeleccionarFechas" class="btn btn-primary">Generar Reporte</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            // seleccionar fechas
            $('#btnEnviarSeleccionarFechas').click(function () {
                if (!fechasValidas($('#fechaInicio').val(), $('#fechaTermino').val())) {
                    $('#divFechaInvalida').show();
                    return;
                }
                $('#modalSeleccionarFechas').modal('hide');
                $('#formSeleccionarFechas').attr('action', $('#action').val()).submit();
            });
            $('#btnCancelarSeleccionarFechas').click(function () {
                $('#modalSeleccionarFechas').modal('hide');
            });
        });

        function seleccionarFechas(action) {
            $('#divFechaInvalida').hide();
            $('#action').val(action);
            $('#fechaInicio').val(null);
            $('#fechaTermino').val(null);
            $('#modalSeleccionarFechas').modal({ keyboard: true }, 'show');
        }

        function fechasValidas(inicio, termino) {
            if (inicio === '' || termino === '') {
                return false;
            }
            hoy = Date.parse(JSON.parse($("#hoy").val()));
            fechaInicio = Date.parse(ordenarFecha(inicio));
            fechaTermino = Date.parse(ordenarFecha(termino));
            if (fechaInicio > hoy) {
                return false;
            }
            if (fechaTermino > hoy) {
                return false;
            }
            if (fechaInicio > fechaTermino) {
                return false;
            }
            return true;
        }

        function ordenarFecha(fecha) {
            arrayFecha = fecha.split('/');
            return arrayFecha[1] + '/' + arrayFecha[0] + '/' + arrayFecha[2];
        }
    </script>
}