@model IEnumerable<SGC.Models.ViewModelComercializacionEstado>

<style>
    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

    #table-wrapper td {
        white-space: nowrap;
    }

    #table-wrapper th {
        white-space: nowrap;
    }

    th {
        background-color: yellow;
    }
</style>

<div id="table-wrapper">
    <div id="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Sucursal")
                    </th>
                    <th>
                        @Html.DisplayName("Código Comercialización")
                    </th>
                    <th>
                        @Html.DisplayName("RUT")
                    </th>
                    <th>
                        @Html.DisplayName("Cliente")
                    </th>
                    <th>
                        @Html.DisplayName("Curso")
                    </th>
                    <th>
                        @Html.DisplayName("Tipo de Ejecución")
                    </th>
                    <th>
                        @Html.DisplayName("Precio Final")
                    </th>
                    <th>
                        @Html.DisplayName("Cant Alumnos")
                    </th>
                    <th>
                        @Html.DisplayName("Fecha")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.comercializacion.cotizacion.sucursal.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comercializacion.cotizacion.codigoCotizacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comercializacion.cotizacion.cliente.rut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comercializacion.cotizacion.cliente.nombreEmpresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comercializacion.cotizacion.curso.nombreCurso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comercializacion.cotizacion.curso.tipoEjecucion)
                    </td>
                    <td data-cell-type="number">
                        @(item.comercializacion.valorFinal - item.comercializacion.descuento)
                    </td>
                    <td data-cell-type="number">
                        @Html.DisplayFor(modelItem => item.comercializacion.cotizacion.cantidadParticipante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comercializacion.fechaCreacion)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

