@model IEnumerable<SGC.Models.Relator>

<style>
    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

    #table-wrapper td {
        white-space: nowrap;
    }

    #table-wrapper th {
        white-space: nowrap;
    }

    th {
        background-color: yellow;
    }
</style>

<div id="table-wrapper">
    <div id="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Relator")
                    </th>
                    <th>
                        @Html.DisplayName("RUT")
                    </th>
                    <th>
                        @Html.DisplayName("Teléfono")
                    </th>
                    <th>
                        @Html.DisplayName("Tiene CUS")
                    </th>
                    <th>
                        @Html.DisplayName("Tiene Capacitación")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.contacto.nombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.contacto.run)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.contacto.telefono)
                        </td>
                        <td>
                            @if (item.vinculadoSENCE)
                            {
                                <div>Sí</div>
                            }
                            else
                            {
                                <div>No</div>
                            }
                        </td>
                        <td>
                            @if (item.r16.Count() > 0)
                            {
                                <div>Sí</div>
                            }
                            else
                            {
                                <div>No</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

