@model List<SGC.Models.ViewModelPostCurso>
@using SGC.Models;
@using System.Collections.Generic;
@{
    var data = Model;
    var comercializaciones = (List<ViewModelPostCurso>)ViewBag.comercializaciones;
    var sucursales = (List<Sucursal>)ViewBag.sucursales;
    var fecha = ViewBag.fechaInicio + " - " + ViewBag.fechaTermino;
    int totalComercializaciones = 0;
    int totalConDjo = 0;
    int totalSinDjo = 0;
}
}

<style>
    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

    #table-wrapper td {
        white-space: nowrap;
    }

    #table-wrapper th {
        white-space: nowrap;
    }

    th {
        background-color: yellow;
    }
</style>

<div id="table-wrapper">
    <div id="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @fecha
                    </th>
                    <th>
                        @Html.DisplayName("Sucursal")
                    </th>
                    <th>
                        @Html.DisplayName("Comercializaciones")
                    </th>
                    <th>
                        @Html.DisplayName("Con DJO")
                    </th>
                    <th>
                        @Html.DisplayName("Sin DJO")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sucursal in sucursales)
                {
                    int contadorComercializaciones = 0;
                    int contadorConDJO = 0;
                    int contadorSinDJO = 0;

                    <tr>
                        <td></td>
                        <td>@Html.Label(sucursal.nombre)</td>
                        @foreach (var comercializacion in comercializaciones)
                        {
                            if (comercializacion.comercializacion.cotizacion.sucursal.idSucursal == sucursal.idSucursal)
                            {
                                contadorComercializaciones++;
                                totalComercializaciones++;
                                if (comercializacion.postCurso != null)
                                {
                                    if (comercializacion.postCurso.djo != false)
                                    {
                                        contadorConDJO++;
                                        totalConDjo++;
                                    }
                                    else
                                    {
                                        contadorSinDJO++;
                                        totalSinDjo++;
                                    }
                                }
                            }
                        }
                        <td>@string.Format("{0:#,0}", contadorComercializaciones)</td>
                        <td>@string.Format("{0:#,0}", contadorConDJO)</td>
                        <td>@string.Format("{0:#,0}", contadorSinDJO)</td>
                    </tr>
                }
                <tr>
                    <th></th>
                    <th>Total de Sucursales</th>
                    <th>@string.Format("{0:#,0}", totalComercializaciones)</th>
                    <th>@string.Format("{0:#,0}", totalConDjo)</th>
                    <th>@string.Format("{0:#,0}", totalSinDjo)</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
