@model SGC.Models.Comercializacion

@{
    ViewBag.Title = "Encuestas de Metología";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title" style="margin-bottom: 0">
    <div class="row">
        <div class="col-md-12">
            R53
        </div>
        <div class="col-md-6">
            <small>Nombre: @Model.cotizacion.codigoCotizacion</small>
        </div>
        <div class="col-md-6">
            <small>RUT: @Model.cotizacion.curso.nombreCurso</small>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-dark">
            <div class="portlet-title">
                <div class="caption">
                    Encuestas de Metología
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                </div>
            </div>
            <div class="portlet-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover dt-responsive dataTable" id="sys-table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Nombre Relator</th>
                                    <th>RUT Relator</th>
                                    <th>Resultado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.r53)
                                {
                                    <tr>
                                        <td data-sort="@item.fecha.ToString("MM/dd/yyyy")">
                                            @Html.DisplayFor(modelItem => item.fecha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.relator.contacto.nombreCompleto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.relator.contacto.run)
                                        </td>
                                        <td class="text-center">
                                            @{
                                                var resultado = 0.0;
                                                int cont = 0;
                                                foreach (var respuesta in item.encuesta.respuestas)
                                                {
                                                    if (respuesta.pregunta.tipo == SGC.Models.TipoPregunta.Alternativa)
                                                    {
                                                        if (respuesta.respuesta != null)
                                                        {
                                                            resultado += int.Parse(respuesta.respuesta);
                                                        }
                                                        cont++;
                                                    }
                                                }
                                                var resultadoString = "-";
                                                if (cont > 0)
                                                {
                                                    resultadoString = String.Format("{0:0.#}", resultado / cont);
                                                }
                                            }
                                            @(resultadoString)%
                                        </td>
                                        <td class="text-center">
                                            <div class="input-group-btn">
                                                @*@Html.ActionLink(" ", "GenerarPdfR16", new { id = item.idR43 }, htmlAttributes: new { @class = "btn btn-default btn-sm glyphicon glyphicon-list-alt", @datatoggle = "tooltip", @title = "Descargar Respuestas" })*@
                                                @Html.ActionLink(" ", "VerR53", new { id = item.idR53 }, htmlAttributes: new { @class = "btn btn-default btn-sm glyphicon glyphicon-list-alt", @datatoggle = "tooltip", @title = "R53" })
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        @Html.ActionLink("Volver", "Index", "Comercializacions", new { }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>